<% layout('layout/page') -%>
<% block('title', "Введение данных") -%>

<script src="/js/HouseAdder.js"></script>
<script src="/js/HouseFinder.js"></script>
<script src="/js/Resulter.js"></script>

<div id="addNewHouseDiv"></div>
<div id="findOneHouseDiv"></div>
<div id="findingResultDiv"></div>

<script>
  let houseAdder = new HouseAdder(document.getElementById('addNewHouseDiv', {}));
  let houseFinder = new HouseFinder(document.getElementById('findOneHouseDiv', {}));
  let resulter = new Resulter(document.getElementById('findingResultDiv', {}));
</script>

<script>
  var socket = io.connect();
  var currentHouse = null;
  socket
      .on('connect', function() {})
      .on('initConnection', function(handshake) {
        socket.handshake = handshake;
        if (!socket.handshake.user) {
          location.href = "/";
          return;
        }
      })
      .on('disconnect', function() {
        location.href = "/";
       })
      .on('logout', function(text) {
        if (text) alert(text);
        location.href = "/";
      })
      .on('error', function(reason) {
        if (reason == "handshake unauthorized") {
          alert("вы вышли из сайта");
        } else {
          setTimeout(function() {
            socket.socket.connect();
          }, 500);
        }
      })
      .on('addNewHouseResult', function(result) {
        if (result) {
          alert('Успех');
        } else {
          alert('Неудача');
        }
      })
      .on('findOneHouseResult', function(result) {
        let resultDiv = document.getElementById('findingResultDiv');
        if (!result) {
          alert('Нет такого дома!');
          return;
        } else {
          currentHouse = result;
          resultDiv.innerHTML = oneHouseToHTML(result);
        }
      })
      .on('addNewPeriodResult', function([result, text]) {
        let resultDiv = document.getElementById('findingResultDiv');
        if (result) {
          resultDiv.innerHTML = oneHouseToHTML(result);
        } else {
          alert('Неудача', text);
        }
      });

    function oneHouseToHTML(house) {
      let html = '<br>';

      html += `<legend>Общие сведения</legend>`;

      html += `<h4 id='address'>${house.address}</h4>`;
      html += `<i>Площадь: ${house.square}. </i>`;
      html += `<i>Общий счетчик: ${house.sameCounter ? 'Да' : 'Нет'}. </i><br>`;
      html += `<i>РЦ тепло: ${house.RC1}. </i>`;
      html += `<i>РЦ энергосбережение: ${house.RC2}. </i><br><br>`;

      html += `<button onclick="
        document.getElementById('editHouse').hidden = !document.getElementById('editHouse').hidden;
      ">Редактировать дом</button>`;

      html += `
        <form id='editHouse' hidden='true'>
          <table>
            <tr>
              <td>
                Площадь
              </td>
              <td>
                <input type="text" name="square" value="1000">
              </td>
            </tr>
            <tr>
              <td>
                Общий счетчик
              </td>
              <td>
                <select name="sameCounter" style="width: 100%">
                  <option>true</option>
                  <option>false</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                РЦ тепло
              </td>
              <td>
                <input type="text" name="RC1" value="ИРЦ">
              </td>
            </tr>
            <tr>
              <td>
                РЦ вода
              </td>
              <td>
                <input type="text" name="RC2" value="ИРЦ">
              </td>
            </tr>
            <tr>
              <td>
                Тариф
              </td>
              <td>
                <input type="text" name="tarif" value="2000">
              </td>
            </tr>
          </table>
          <button onclick="
            let form = document.getElementById('editHouse');
            let flag = form.elements.square.value.length > 0 &&
                       form.elements.RC1.value.length > 0 &&
                       form.elements.RC2.value.length > 0 &&
                       form.elements.tarif.value.length > 0;
            if (!flag) {
              alert('Заполните все поля!');
            } else {
              form.hidden = true;
              let request = {
                square: form.elements.square.value,
                sameCounter: form.elements.sameCounter.value,
                RC1: form.elements.RC1.value,
                RC2: form.elements.RC2.value,
                tarif: form.elements.tarif.value,
              };
              socket.emit('editHouse', request, currentHouse);
            }
          ">Сохранить редактирование</button>
        </form>

      `;


      html += `<button onclick="
        let address = document.getElementById('address').innerHTML;
        if (confirm('Это действие удалит дом со всеми отчетными периодами. Вы уверены?')) {
          socket.emit('deleteHouse', address);
        }
      ">Удалить дом</button><br><br>`;

      html += `<legend>Отчетные периоды</legend>`;

      if (house.data.length) {
        html += `<table>
                  <tr>
                    <td>
                      Период
                    </td>
                    <td>
                      Продано энергосбережение
                    </td>
                    <td>
                      Прибор работал
                    </td>
                    <td>
                      Управляющая компания
                    </td>
                    <td>
                      Объём по данным РЦ без вычета ГВС
                    </td>
                    <td>
                      Объём по данным РЦ с вычетом ГВС
                    </td>
                    <td>
                      Объём по первичным данным ОДПУ без вычета ГВС
                    </td>
                    <td>
                      Объём при неработающем приборе учёта
                    </td>
                    <td>
                      Действия
                    </td>
                  </tr>`;
        house.data.forEach((period) => {
          html += periodToHTML(period, house);
        });
        html += `</table>`;
      } else {
        html += `Отчетные периоды еще не заполнены. <br><br>`;
      }

      html += `<button type="button" onclick="
            document.getElementById('newPeriod').hidden = !document.getElementById('newPeriod').hidden;
          ">Добавить отчетный период</button>`;

      html += `
          <form id='newPeriod' hidden='true'>
            <table>
              <tr>
                <td>
                  Год
                </td>
                <td>
                  <select name="year">
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Месяц
                </td>
                <td>
                  <select name="month">
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Продано энергосбережение
                </td>
                <td>
                  <select name="isBasic">
                    <option value="true">Нет</option>
                    <option value="false">Да</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Прибор учета работал
                </td>
                <td>
                  <select name="shouldCount">
                    <option value="true">Да</option>
                    <option value="false">Нет</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  УК
                </td>
                <td>
                  <input type="text" name="company" value="Сторм">
                </td>
              </tr>
              <tr>
                <td>
                  Данные РЦ без вычета ГВС
                </td>
                <td>
                  <input type="text" name="O" value="">
                </td>
              </tr>
              <tr>
                <td>
                  Данные РЦ с вычетом ГВС
                </td>
                <td>
                  <input type="text" name="P" value="">
                </td>
              </tr>
              <tr>
                <td>
                  Данные ОДПУ без вычета ГВС
                </td>
                <td>
                  <input type="text" name="Q" value="">
                </td>
              </tr>
              <tr>
                <td>
                  Данные по нормативу
                </td>
                <td>
                  <input type="text" name="R" value="">
                </td>
              </tr>
            </table>

            <button type="button" onclick="
              let form = document.getElementById('newPeriod');
              let flag = form.elements.O.value.length > 0 ||
                         form.elements.P.value.length > 0 ||
                         form.elements.Q.value.length > 0 ||
                         form.elements.R.value.length > 0;
              flag = flag && form.elements.company.value.length > 0;
              if (!flag) {
                alert('Заполните все поля!');
              } else {
                form.hidden = true;
                let newPeriod = {
                  month: form.elements.month.value + '-' + form.elements.year.value,
                  isBasic: form.elements.isBasic.value,
                  shouldCount: form.elements.shouldCount.value,
                  company: form.elements.company.value,
                  O: form.elements.O.value,
                  P: form.elements.P.value,
                  Q: form.elements.Q.value,
                  R: form.elements.R.value,
                };
                socket.emit('addNewPeriod', {
                  address: document.getElementById('address').innerHTML,
                }, newPeriod);
              }
            ">Сохранить</button>
          </form>
      `;
      return html;
    }

    function periodToHTML(period, house) {
      let html = '';

      html += `
          <tr>
            <td>
              ${period.month}
            </td>
            <td>
              ${period.isBasic ? 'Нет' : 'Да'}
            </td>
            <td>
              ${period.shouldCount ? 'Да' : 'Нет'}
            </td>
            <td>
              ${period.company}
            </td>
            <td>
              ${period.O ? period.O : '---'}
            </td>
            <td>
              ${period.P ? period.P : '---'}
            </td>
            <td>
              ${period.Q ? period.Q : '---'}
            </td>
            <td>
              ${period.R ? period.R : '---'}
            </td>
            <td>
              <button id = '${period.month}/${house.address}' type="button" onclick="
                socket.emit('deletePeriod', this.id);
              ">Удалить</button>
            </td>
          </tr>
      `;

      return html;
    }
</script>
