<% layout('layout/page') -%>
<% block('title', "Введение данных") -%>

<div id="addNewHouseDiv"></div>
<div id="findOneHouseDiv"></div>
<div id="findingResultDiv"></div>
<div id="catalogue" hidden='true'></div>

<script src="/js/Cataloger.js"></script>
<script src="/js/HouseAdder.js"></script>
<script src="/js/HouseFinder.js"></script>
<script src="/js/PeriodAdder.js"></script>
<script src="/js/PeriodEditor.js"></script>
<script src="/js/HouseEditor.js"></script>
<script src="/js/Resulter.js"></script>
<script src="/js/EntriesController.js" defer></script>
