<% layout('layout/page') -%>
<% block('title', 'Страница регистрации'); -%>

<div>
  <h1
    style="
      text-align: center;
      font-size: 90px;
      height: 60vh;
      margin-top: 20vh;
  "> ИС "Э"
    <p style="font-size: 20px">
      (1.6.0)
    </p>
  </h1>
</div>

<script type="text/javascript">
  document.addEventListener('mousedown', event => event.preventDefault());
</script>
