<% layout('layout/page') -%>
<% block('title', "Построение отчетов") -%>

<div id="catalogue" hidden='true'></div>

<button class="mainbutton" type="button" name="button" onclick="
  document.getElementById('resultDiv').innerHTML = '';
  document.getElementById('allHousesReportForm').hidden = 'true';
  document.getElementById('ukReportForm').hidden = 'true';
  document.getElementById('singleHouseReportForm').hidden = !document.getElementById('singleHouseReportForm').hidden;
">Новый отчет по одному дому</button><br><br>

<button class="mainbutton" type="button" name="button" onclick="
  document.getElementById('resultDiv').innerHTML = '';
  document.getElementById('singleHouseReportForm').hidden = 'true';
  document.getElementById('allHousesReportForm').hidden = 'true';
  document.getElementById('ukReportForm').hidden = !document.getElementById('ukReportForm').hidden;
">Новый отчет по управляющей компании</button><br><br>

<button class="mainbutton" type="button" name="button" onclick="
  document.getElementById('resultDiv').innerHTML = '';
  document.getElementById('singleHouseReportForm').hidden = 'true';
  document.getElementById('ukReportForm').hidden = 'true';
  document.getElementById('allHousesReportForm').hidden = !document.getElementById('allHousesReportForm').hidden;
">Новый отчет по всем домам</button><br><br>

<form id="singleHouseReportForm" hidden="true">
  <h3>Адрес</h3>
  <table>
    <tr>
      <td>
        Город
      </td>
      <td>
        <input type="text" name="town" value="Пермь">
      </td>
    </tr>
    <tr>
      <td>
        Тип улицы
      </td>
      <td>
        <select name="streetType">
          <option>улица</option>
          <option>проспект</option>
          <option>проезд</option>
          <option>аллея</option>
          <option>площадь</option>
          <option>переулок</option>
          <option>линия</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Название улицы
      </td>
      <td>
        <input name="streetName" list="streetList1">
      </td>
    </tr>
    <tr>
      <td>
        Номер дома
      </td>
      <td>
        <input type="text" name="houseNumber">
      </td>
    </tr>
  </table>


  <h3>Отчетный период</h3>
  <h4>Начало:</h4>
  <table>
    <tr>
      <td>
        Год
      </td>
      <td>
        <select name="startYear">
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
        </select>
      </td>
    </tr>
    <tr>
      </tr>
      <td>
        Месяц
      </td>
      <td>
        <select name="startMonth">
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </td>
    </tr>
  </table>
  <h4>Конец:</h4>
  <table>
    <tr>
      <td>
        Год
      </td>
      <td>
        <select name="endYear">
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
        </select>
      </td>
    </tr>
    <tr>
      </tr>
      <td>
        Месяц
      </td>
      <td>
        <select name="endMonth">
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </td>
    </tr>
  </table>


  <h3>Приоритеты</h3>
  <table>
    <tr>
      <td>
        Котловой метод
      </td>
      <td>
        <select name="kotel">
          <option value="false">Нет</option>
          <option value="true">Да</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Показания
      </td>
      <td>
        <select name="method">
          <option>РЦ</option>
          <option>ОДПУ</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Учесть периоды отсутствия ОДПУ
      </td>
      <td>
        <select name="useR">
          <option value="true">Да</option>
          <option value="false">Нет</option>
        </select>
      </td>
    </tr>
  </table>

  <br><br><br>
  <button type="button" onclick="
    let form = document.getElementById('singleHouseReportForm');
    let flag = form.elements.town.value.length > 0 &&
               form.elements.streetType.value.length > 0 &&
               form.elements.streetName.value.length > 0 &&
               form.elements.houseNumber.value.length > 0;
    if (!flag) {
      alert('Заполните все поля!');
    } else {
      form.hidden = true;
      let request = {
        address: form.elements.town.value + ',' +
                 form.elements.streetType.value + ',' +
                 form.elements.streetName.value + ',' +
                 form.elements.houseNumber.value,
        startPeriod: form.elements.startMonth.value + '-' + form.elements.startYear.value,
        endPeriod: form.elements.endMonth.value + '-' + form.elements.endYear.value,
        kotel: form.elements.kotel.value,
        method: form.elements.method.value,
        useR: form.elements.useR.value,
        header: 'Адрес: ' + form.elements.town.value + ',' +
                 form.elements.streetType.value + ',' +
                 form.elements.streetName.value + ',' +
                 form.elements.houseNumber.value,
      };
      socket.emit('oneHouseRequest', request);
    }
  ">Рассчитать</button>

</form>
<form id="ukReportForm" hidden="true">
  <h3>Управляющая компания:</h3>
  <input name="company" list="companiesList1">
  <h3>Отчетный период</h3>
  <h4>Начало:</h4>
  <table>
    <tr>
      <td>
        Год
      </td>
      <td>
        <select name="startYear">
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
        </select>
      </td>
    </tr>
    <tr>
      </tr>
      <td>
        Месяц
      </td>
      <td>
        <select name="startMonth">
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </td>
    </tr>
  </table>
  <h4>Конец:</h4>
  <table>
    <tr>
      <td>
        Год
      </td>
      <td>
        <select name="endYear">
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
        </select>
      </td>
    </tr>
    <tr>
      </tr>
      <td>
        Месяц
      </td>
      <td>
        <select name="endMonth">
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </td>
    </tr>
  </table>


  <h3>Приоритеты</h3>
  <table>
    <tr>
      <td>
        Котловой метод
      </td>
      <td>
        <select name="kotel">
          <option value="false">Нет</option>
          <option value="true">Да</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Показания
      </td>
      <td>
        <select name="method">
          <option>РЦ</option>
          <option>ОДПУ</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Учесть периоды отсутствия ОДПУ
      </td>
      <td>
        <select name="useR">
          <option value="true">Да</option>
          <option value="false">Нет</option>
        </select>
      </td>
    </tr>
  </table>

  <br><br><br>
  <button type="button" onclick="
    let form = document.getElementById('ukReportForm');
    let flag = form.elements.company.value.length > 0 ;
    if (!flag) {
      alert('Заполните все поля!');
    } else {
      form.hidden = true;
      let request = {
        company: form.elements.company.value,
        startPeriod: form.elements.startMonth.value + '-' + form.elements.startYear.value,
        endPeriod: form.elements.endMonth.value + '-' + form.elements.endYear.value,
        kotel: form.elements.kotel.value,
        method: form.elements.method.value,
        useR: form.elements.useR.value,
        header: 'Управляющая компания: ' + form.elements.company.value,
      };
      socket.emit('ukRequest', request);
    }
  ">Рассчитать</button>

</form>
<form id="allHousesReportForm" hidden="true">

  <h3>Отчетный период</h3>
  <h4>Начало:</h4>
  <table>
    <tr>
      <td>
        Год
      </td>
      <td>
        <select name="startYear">
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
        </select>
      </td>
    </tr>
    <tr>
      </tr>
      <td>
        Месяц
      </td>
      <td>
        <select name="startMonth">
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </td>
    </tr>
  </table>
  <h4>Конец:</h4>
  <table>
    <tr>
      <td>
        Год
      </td>
      <td>
        <select name="endYear">
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
        </select>
      </td>
    </tr>
    <tr>
      </tr>
      <td>
        Месяц
      </td>
      <td>
        <select name="endMonth">
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </td>
    </tr>
  </table>

  <h3>Приоритеты</h3>
  <table>
    <tr>
      <td>
        Котловой метод
      </td>
      <td>
        <select name="kotel">
          <option value="false">Нет</option>
          <option value="true">Да</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Показания
      </td>
      <td>
        <select name="method">
          <option>РЦ</option>
          <option>ОДПУ</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Учесть периоды отсутствия ОДПУ
      </td>
      <td>
        <select name="useR">
          <option value="true">Да</option>
          <option value="false">Нет</option>
        </select>
      </td>
    </tr>
  </table>

  <br><br><br>
  <button type="button" onclick="
    let form = document.getElementById('allHousesReportForm');
    form.hidden = true;
    let request = {
      startPeriod: form.elements.startMonth.value + '-' + form.elements.startYear.value,
      endPeriod: form.elements.endMonth.value + '-' + form.elements.endYear.value,
      kotel: form.elements.kotel.value,
      method: form.elements.method.value,
      useR: form.elements.useR.value,
      header: 'Все дома',
    };
    socket.emit('allHousesRequest', request);
  ">Рассчитать</button>
</form>
<div id="resultDiv">

</div>

<script src="/js/Cataloger.js"></script>
<script src="/js/ReportsController.js" defer></script>
