body {
  background: #0E0E0E;
  color: #dddddd;
}

td {
  width: 120px;
  padding: 2px;
  border: 1px solid white;
  text-align: center;
}

.navbar {
  background: #0E0E0E;
  border: 1px solid #A19889;
}
.container {
  font-display: auto;
}
.container-navigation {
  z-index: 50;
  height: 5%;
}
.container-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5%
}
.container-mainpage {
  height: 88%;
  margin-top: 1px;
  margin-bottom: 1px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.row-frontpage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-location {
  text-align: center;
  font-family: cursive;
  font-style: italic;
}
