body {
  background: #0E0E0E;
}

td {
  /*border: 1px dotted #7A3C0D;*/
  border-collapse: collapse;
}
.navbar {
  background: #0E0E0E;
  border: 1px solid #A19889;
}
.container {
  font-display: auto;
}
.container-navigation {
  z-index: 50;
  height: 5%;
}
.container-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5%
}
.container-mainpage {
  height: 88%;
  margin-top: 1px;
  margin-bottom: 1px;
}
.row-mainpage-story {

}

.row-mainpage {
  color: black;
  text-align: center;
  font-family:serif;
  background: #E8DDC2;
  border: 1.5px solid #985530;
}
.row-mainpage-story {

}

.row-mainpage-center {

  background: #DDC58C;
}

.row-char {
  border: 1px solid #985530;
  background: #E8DDC2;
}
.col-mainpage {

}
.row-mappiece {
  border-bottom: 1px solid #985530;
  border-left: 1px solid #985530;
}
.col-mappiece {
  border: 1px solid #985530;
  margin: 0;
  padding: 0;
  background: #E8DDC2;
}
.col-char {

}
.col-enemyParties {
  text-align: left;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.row-frontpage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-location {
  text-align: center;
  font-family: cursive;
  font-style: italic;
}
.col-location:hover {

}
.adventuredialogvariant:hover {
  background: gray !important;
  cursor: pointer;
}

.enemypartiesbutton, .hirepartiesbutton, .domesticationpartiesbutton {
  background: #D59867;
}
.clickablebutton {
  background: #DBCE61;
}
.clickablebutton:hover {
  text-decoration: underline;
  cursor: pointer;
}
.enemypartiesbutton:hover, .hirepartiesbutton:hover, .domesticationpartiesbutton:hover {
  text-decoration: underline;
}
.clickable:hover {
  cursor: pointer;
}
.imgbutton:hover {
  cursor: pointer;
}
.hintable {
  background: #A6BBA0;
  cursor: help;
}
.hintableitem {
  cursor: help;

}
.hintableitem > div {
  display: none;
  z-index: 550;
  border: none;
}
.hintableitem:hover > div {
  display: block;
  z-index: 600;
}
.hintableitem:active > div {
  display: none;
  z-index: 550;
}
.rarity1 {
  border: 2px solid gray !important;
}
.rarity2 {
  border: 2px solid green !important;
}
.rarity3 {
  border: 2px solid blue !important;
}
.rarity4 {
  border: 2px solid purple !important;
}
.rarity5 {
  border: 2px solid orange !important;
}
.itemTooltip {
  text-align: left;
  position:fixed;
  background: #36513C;
  color: #C1933D;
  padding: 5px;
  opacity: 0.95;
}
.itemTooltip > h5 {
  text-align: center;
}
.itemTooltip > p > i {

}
.tooltiped {
 	cursor: help;
 }
.tooltiped::after {
  z-index: 100;
	background: #36513C;
 	border-radius: 8px 8px 8px 0px;
 	box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
 	color: #C1933D;
 	content: attr(tooltip);
 	/*margin-top: -25px;
  margin-left: -25px;*/
 	opacity: 0;
 	padding: 3px 8px;
 	position: absolute;
 	visibility: hidden;
 	/*transition: all 0.0s ease-in-out;*/
}

.tooltiped:hover::after {
  display:contents;
  opacity: 1;
  visibility: visible;
}
.itemTable {
  margin: auto;
}
.inventorybox {
  border-collapse: collapse;
  font-size: 8px;
  text-align: center;
  font-weight: bold;
  width: 50px;
  height: 50px;
  color: black;
  border: 1px solid black;
}
.charitembox {
  font-size: 8px;
  border-collapse: collapse;
  text-align: center;
  font-weight: bold;
  width: 50px;
  height: 50px;
  color: black;
}
.dropItem {
  border-collapse: collapse;
  background-size: cover;
  text-align: center;
  color: black;
  margin: 0px;
  width: 50px;
  height: 50px;
}
.trash {
  border-collapse: collapse;
  margin: 0px;
  width: 50px;
  height: 50px;
}

.mailto {
  color: black;
}
.overflow {
  overflow-y: scroll;
}
#inventory {
  margin: 3px;
}
#skillsdialogbox {
  background-image: url('/imgs/modalBox.png'), url('/imgs/modalBox.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 70px;
  z-index: 200;
  margin-top: 150px;
}
#dialogbox {
  background-image: url('/imgs/modalBox.png'), url('/imgs/modalBox.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 70px;
  z-index: 200;
  margin-top: 150px;
}
#adventuredialogbox {
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-top: 150px;
}
#adventuredialogbox > div > p {
  border: 1px dotted purple;
  background: white;
  z-index: 200;
}
#notifies {
  z-index: 200;
  position:fixed;
  width: auto;
  height: auto;
  right: 0;
  top: 100;
}
#logger {
  text-align: left;
  padding: 10px;
}
.text-typing
{
  width: 100%;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 5s steps(50, end);
}
.text-typing-fast
{
  width: 100%;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 1s steps(20, end);
  animation: type 1s steps(20, end);
}
@keyframes type{
  from { width: 0; }
}

@-webkit-keyframes type{
  from { width: 0; }
}
::-webkit-scrollbar {

}

div::-webkit-scrollbar {
    width: 12px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: #8F6836;
}
.personspeach {
  z-index: 100;
  background: #32435E;
  border-radius: 8px 8px 8px 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  color: white;
  margin-top: -100px;
  margin-left: 100px;
  /*opacity: 0;*/
  padding: 3px 8px;
  position: absolute;
  visibility: hidden;
  /*transition: all 4s ease-in-out;*/*/
}
