<hr style="border: none;
  background-color: #A19889;
  height: 1px;
">
<p style="text-align: center; color: #A19889">Linih Rimira, 2018, <a class="mailto" href="mailto:linih.rimira@yandex.ru?subject=forUnik" style="color: #A19889">linih.rimira@yandex.ru</a></p>
